div#gallery {
    display: flex;
    flex-direction: column;
}

#gallery input {
    width: 33%;
}

#pop-up h5 {
    color: #ff8c00;
}

#pop-up button {
    color: #262626;
    background-color: #ff8c00;
}

.modal-content {
    background-color: #262626;
}

.modal-footer {
    display: block;
}

.modal-footer p {
    color: #ff8c00;
    float: left;
}

.modal-footer button {
    float: right;
}