@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');
body {
    font-family: "Roboto";
}

#bg-image {
    background: url("/assets/img/blog/harber-view.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Merriweather";
    margin: 15px 0;
}

p {
    text-align: justify;
}


/* container need to find another way to do this */

.container,
footer {
    width: 81%;
    margin-left: 220px;
    padding: 0;
}


/* col  */

.col,
.col-12 {
    padding-left: 30px;
}


/* Navbar */

.col {
    padding-left: 25 px;
}

#sidebar {
    width: 200px;
    position: fixed;
    height: 100%;
    z-index: 999;
    background: #262626;
    color: #ff8c00;
}

#sidebar .sidebar-header {
    padding-left: 20px;
    background: #262626;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
    color: #ff8c00;
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #262626;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    right: 20px;
}


/*---------------------------------- Contact */

.form-section {
    height: auto;
    margin-top: 30px;
    display: block;
    text-align: center;
}

.contact-form {
    max-width: 400px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.text-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #525252;
    ;
    border-radius: 2px;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

#message {
    min-height: 100px;
}

#map {
    height: 400px;
}


/*---------------------------------- portfolio */

.images {
    column-count: 3;
}

#photo img {
    width: 100%;
    column-gap: 10px;
    gap: 10px;
}

#back-image {
    background-image: url("/assets/img/blog/going-traveling.jpg");
    object-fit: cover;
    width: calc(100% - 200px);
    height: 100%;
    padding-left: 0;
    background-repeat: no-repeat;
    float: right;
}

.side-container {
    display: flex;
    flex-flow: nowrap;
}


/* ------- Blog --------*/

#experience-traveling,
#me-beautiful,
#going-traveling,
#intro {
    border: solid #ff8c00;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 12px;
}

#what-could-happen,
#luggage-challenge {
    border: solid #262626;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 12px;
}